<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BetOnTackles.com</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />

  <!-- External CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <header>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="BetOnTackles Logo" style="max-width: 800px; margin: 0; padding: 0;" />
    <nav>
      <a href="/">Home</a>
      <a href="/historical">Historical Results</a>
    </nav>
  </header>

  <div class="container">
    <h2>2025 Week 1</h2>
    <table>
        <thead>
          <tr>
            {% for column in results[0].keys() %}
              <th>{{ column }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for result in results %}
              <tr>
                {% for key, value in result.items() %}
                  {% if key == 'Outcome' %}
                    {% set outcome_str = value|string %}
                    {% if outcome_str == 'W' %}
                      <td style="background-color: #d4edda;">{{ value }}</td>
                    {% elif outcome_str == 'L' %}
                      <td style="background-color: #f8d7da;">{{ value }}</td>
                    {% else %}
                      <td>{{ value }}</td>
                    {% endif %}
                  {% elif key in ['pred_win_pct', 'expected_return'] %}
                    <td>{{ (value * 100) | round(1) }}%</td>
                  {% else %}
                    <td>{{ value }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>

  <footer>
    &copy; {{ now.year }} BetOnTackles.com — All rights reserved.
  </footer>

</body>
</html>
